flask==3.0.3
flask_login==0.6.3
tidalapi==0.7.5
musicbrainzngs==0.7.1
faker==25.8.0
argon2-cffi==23.1.0
pandas==2.2.2
openpyxl==3.1.5
gunicorn==22.0.0
Flask-SQLAlchemy==3.1.1
email-validator==2.1.2
Flask-Migrate==4.0.7