<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Music Manager</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
		/>
		<script
			src="https://kit.fontawesome.com/37dab0fa17.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<section class="hero is-dark is-fullheight">
			<div class="hero-head">
				<nav class="navbar" role="navigation" aria-label="main navigation">
					<div class="container">
						<div class="navbar-brand">
							<figure class="image level-item">
								<a class="navbar-item" href="{{ url_for('main.index') }}">
									<img
										src="{{ url_for('static', filename='images/logo-transparent.svg') }}"
									/>
								</a>
							</figure>
							<a class="navbar-item" href="{{ url_for('main.index') }}">
								Music Manager
							</a>
						</div>

						<div class="navbar-menu">
							<div class="navbar-end">
								{% if current_user.is_authenticated %}
								<a href="{{ url_for('music.jobs') }}" class="navbar-item">
									Jobs
								</a>
								{% endif %} {% if current_user.is_authenticated %}
								<a href="{{ url_for('main.profile') }}" class="navbar-item">
									Profil
								</a>
								{% endif %} {% if not current_user.is_authenticated %}
								<a href="{{ url_for('auth.login') }}" class="navbar-item">
									Anmelden
								</a>
								<a href="{{ url_for('auth.signup') }}" class="navbar-item">
									Registrieren
								</a>
								{% endif %} {% if current_user.is_authenticated %}
								<a href="{{ url_for('auth.logout') }}" class="navbar-item">
									Abmelden
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</div>

			<div class="hero-body">
				<div class="container">{% block content %} {% endblock %}</div>
			</div>
		</section>
	</body>
</html>
