<!-- templates/playlist.html -->
{% extends "base.html" %} {% block content %}

<h1 class="title">Playlist: {{ playlist.name }}</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}

	<div class="table-container">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Interpret</th>
					<th>Veröffentlichung</th>
					<th>Sprache</th>
					<th>Länge</th>
					<th>Genre</th>
					<th>Stimmung</th>
					<th>Typ</th>
					<th>Geschwindigkeit</th>
					<th>Anteil Gesang</th>
					<th>Anteil Rap (von Gesang)</th>
					<th>Bekanntheit</th>
					<th>Bekanntheit TIDAL</th>
					<th>Anteil Weird</th>
					<th>Legende</th>
					<th>Ordner</th>
					<th>Serie</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if playlist.songs is none %}
				<tr>
					<td colspan="17">Keine Songs vorhanden</td>
				</tr>
				{% else %} {% for song in playlist.songs %}
				<tr>
					<td>
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if song.album.tidal_cover is none %} {% else %}
								<figure class="image is-32x32">
									<img
										class="is-rounded"
										src="https://resources.tidal.com/images/{{ song.album.tidal_cover.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ song.title }}"
									/>
								</figure>
								{% endif %}
							</div>
							<div class="column">
								<p>{{ song.title }}</p>
							</div>
					</td>

					<td>
						{% for artist in song.artists %}
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if artist.tidal_cover is none %} {% else %}
								<figure class="image is-32x32">
									<img
										class="is-rounded"
										src="https://resources.tidal.com/images/{{ artist.tidal_cover.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ artist.name }}"
									/>
								</figure>
								{% endif %}
							</div>
							<div class="column" style="white-space: nowrap">
								<p>{{ artist.name }}</p>
							</div>
							<div class="column">
								<span class="tag is-info">{{ artist.role }}</span>
							</div>
						</div>
						{% endfor %}
					</td>

					<td>
						{% if song.album.release_date is none %} - {% else %} {{
						song.album.release_date.split('-')[2].split('T')[0] }}.{{
						song.album.release_date.split('-')[1] }}.{{
						song.album.release_date.split('-')[0] }} {% endif %}
					</td>

					<td>
						{% for language in song.languages %} {% if language.name == 'non' %}
						ohne {% else %} {{ language.name }} {% endif %} {% endfor %}
					</td>

					<td>{{ song.duration }}</td>

					<td>
						{% for genre in song.genres %}
						<span class="tag is-info">{{ genre.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% for feel in song.feels %}
						<span class="tag is-info">{{ feel.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% if song.type is none %} - {% else %} {{ song.type }} {% endif %}
					</td>

					<td>
						{% for speed in song.speeds %}
						<span class="tag is-info">{{ speed.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% set voice_percent = song.voice_percent|float if
						song.voice_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if voice_percent < 0.35 %}is-danger {% elif voice_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ voice_percent * 100 }}"
							max="100"
						>
							{{ voice_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set rap_percent = song.rap_percent|float if song.rap_percent not
						in [None, ''] else 0 %}
						<progress
							class="progress {% if rap_percent < 0.35 %}is-danger {% elif rap_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ rap_percent * 100 }}"
							max="100"
						>
							{{ rap_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set popularity = song.popularity_percent|float if
						song.popularity_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity < 0.35 %}is-danger {% elif popularity < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity * 100 }}"
							max="100"
						>
							{{ popularity * 100 }}%
						</progress>
					</td>

					<td>
						{% set popularity_tidal = song.popularity_tidal / 100|float if
						song.popularity_tidal not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity_tidal < 0.35 %}is-danger {% elif popularity_tidal < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity_tidal * 100 }}"
							max="100"
						>
							{{ popularity_tidal * 100 }}%
						</progress>
					</td>

					<td>
						{% set weird_percent = song.weird_percent|float if
						song.weird_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if weird_percent < 0.35 %}is-danger {% elif weird_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ weird_percent * 100 }}"
							max="100"
						>
							{{ weird_percent * 100 }}%
						</progress>
					</td>
					<td>Platzhalter für Legende</td>
					<td>
						{% for folder in song.folders %}
						<span class="tag is-info">{{ folder.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% for serie in song.series %}
						<span class="tag is-info">{{ serie.name }}</span>
						{% endfor %}
					</td>

					<td>
						<a
							class="button is-small is-info"
							href="{{ url_for('music.playlist_edit', playlist_id=playlist.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">edit</i>
							</span>
						</a>
					</td>
					<td>
						<a
							class="button is-small is-danger"
							href="{{ url_for('music.playlist_delete', playlist_id=playlist.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</a>
					</td>
				</tr>
				{% endfor %} {% endif %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
