<!-- templates/job-details.html -->
{% extends "base.html" %} {% block content %}

<h1 class="title">Playlist: {{ playlist.name }}</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}

	<div class="table-container">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Interpret</th>
					<th>Jahr</th>
					<th>Sprache</th>
					<th>Länge</th>
					<th>Genre</th>
					<th>Stimmung</th>
					<th>Typ</th>
					<th>Geschwindigkeit</th>
					<th>Anteil Gesang</th>
					<th>Anteil Rap (von Gesang)</th>
					<th>Bekanntheit</th>
					<th>Anteil Weird</th>
					<th>Legende</th>
					<th>Ordner</th>
					<th>Serie</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for song in job.songs %}
				<tr>
					<td>{{ song.title }}</td>

					<td>
						{% if song.artists is none %} - {% else %} {{ song.artists }} {%
						endif %}
					</td>

					<td>
						{% if song.year is none %} - {% else %} {{ song.year }} {% endif %}
					</td>

					<td>
						{% if song.language is none %} - {% elif song.language == 'non' %}
						ohne {% else %} {{ song.language }} {% endif %}
					</td>

					<td>
						{% if song.length is none %} - {% else %} {{ song.length }} {% endif
						%}
					</td>

					<td>
						{% if song.genre is none %} - {% else %} {{ song.genre }} {% endif
						%}
					</td>

					<td>
						{% if song.mood is none %} - {% else %} {{ song.mood }} {% endif %}
					</td>

					<td>
						{% if song.type is none %} - {% else %} {{ song.type }} {% endif %}
					</td>

					<td>
						{% if song.speed is none %} - {% else %} {{ song.speed }} {% endif
						%}
					</td>

					<td>
						{% set voice_percent = song.voice_percent|float if
						song.voice_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if voice_percent < 0.35 %}is-danger {% elif voice_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ voice_percent * 100 }}"
							max="100"
						>
							{{ voice_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set rap_percent = song.rap_percent|float if song.rap_percent not
						in [None, ''] else 0 %}
						<progress
							class="progress {% if rap_percent < 0.35 %}is-danger {% elif rap_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ rap_percent * 100 }}"
							max="100"
						>
							{{ rap_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set popularity = song.popularity_percent|float if
						song.popularity_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity < 0.35 %}is-danger {% elif popularity < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity * 100 }}"
							max="100"
						>
							{{ popularity * 100 }}%
						</progress>
					</td>
					<td>
						{% set weird_percent = song.weird_percent|float if
						song.weird_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if weird_percent < 0.35 %}is-danger {% elif weird_percent < 0.65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ weird_percent * 100 }}"
							max="100"
						>
							{{ weird_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% if song.legend is none %} - {% else %} {{ song.legend }} {% endif
						%}
					</td>
					<td>
						{% if song.folder == '0' %} - {% else %} {{ song.folder }} {% endif
						%}
					</td>

					<td>
						{% if song.series is none %} - {% else %} {{ song.series }} {% endif
						%}
					</td>

					<td>
						<a
							class="button is-small is-info"
							href="{{ url_for('music.job_edit', job_id=job.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">edit</i>
							</span>
						</a>
					</td>
					<td>
						<a
							class="button is-small is-danger"
							href="{{ url_for('music.job_delete', job_id=job.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
