<!-- templates/profile.html -->

{% extends "base.html" %} {% block content %}
<h1 class="title">Willkommen, {{ current_user.username }}!</h1>
<div class="box">
	<section class="section">
		{% if current_user.tidal_account %}
			<p>Sie haben bereits ein Tidal-Konto hinzugefügt.</p>
		{% else %}
			<p>Sie haben noch kein Tidal-Konto hinzugefügt.</p>
			<a href="{{ url_for('add_tidal_account') }}" class="button is-primary">Tidal-Konto hinzufügen</a>
		{% endif %}
	</section>
	<section class="section">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr>
					<th>Benutzername</th>
					<th>E-Mail</th>
					<th>Admin</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ current_user.username }}</td>
					<td>{{ current_user.email }}</td>
					<td>
						{% if current_user.is_admin %} <i class="fas fa-check"></i> {% else %}
						<i class="fas fa-times"></i> {% endif %}
					</td>
				</tr>
			</tbody>

		</table>
	</section>
	<section class="section">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr>
					<th>Name</th>
			</thead>
			<tbody>
				{% for playlist in playlists %}
				<tr>
					<td>{{ playlist.name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div>
{% endblock %}
