<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Music Manager</title>
		<link
			rel="icon"
			href="{{ url_for('static', filename='images/favicon.ico') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/bulma.css') }}"
		/>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0"
		/>

		<style>
			.no-wrap {
				white-space: nowrap; /* no line break */
				flex-wrap: nowrap; /* no flex line break */
			}
			:root {
				--body-background-color: #c2e4ff;
			}

			@media (prefers-color-scheme: dark) {
				:root {
					--body-background-color: #2c3744;
					--bulma-scheme-main: #2B3238;
					--bulma-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 0% / 36%), 0 0px 0 1px hsl(183.19, 100%, 44.31%, 0.5);
				}
			}

			body {
				background-color: var(--body-background-color);
			}
		</style>
	</head>
	<body>
		<section class="hero is-fullheight">
			<div class="hero-head">
				<nav class="navbar" role="navigation" aria-label="main navigation">
					<div class="container">
						<div class="navbar-brand">
							<figure class="image level-item">
								<a class="navbar-item" href="{{ url_for('main.index') }}">
									<img
										src="{{ url_for('static', filename='images/logo-transparent.svg') }}"
									/>
								</a>
							</figure>
							<a class="navbar-item" href="{{ url_for('main.index') }}">
								Music Manager
							</a>
						</div>

						<div class="navbar-menu">
							<div class="navbar-end">
								{% if current_user.is_authenticated %}
								<a href="{{ url_for('jobs.index') }}" class="navbar-item">
									Jobs
								</a>
								{% endif %} {% if current_user.is_authenticated %}
								<a href="{{ url_for('playlists.index') }}" class="navbar-item">
									Playlists
								</a>
								{% endif %} {% if current_user.is_authenticated %}
								<a href="{{ url_for('main.profile') }}" class="navbar-item">
									Profil
								</a>
								{% endif %} {% if not current_user.is_authenticated %}
								<a href="{{ url_for('auth.login') }}" class="navbar-item">
									Anmelden
								</a>
								<a href="{{ url_for('auth.signup') }}" class="navbar-item">
									Registrieren
								</a>
								{% endif %} {% if current_user.is_authenticated %}
								<a href="{{ url_for('auth.logout') }}" class="navbar-item">
									Abmelden
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</nav>
			</div>

			<div class="hero-body">
				<div class="container">{% block content %} {% endblock %}</div>
			</div>
		</section>
	</body>
</html>
