<!-- templates/job.html -->
{% extends "base.html" %} {% block content %}
<h1 class="title">Job: {{ job.name }}</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}

	<div class="table-container">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr class="no-wrap">
					<th>Titel</th>
					<th>Interpret</th>
					<th>Jahr</th>
					<th>Sprache</th>
					<th>Länge</th>
					<th>Genre</th>
					<th>Feels</th>
					<th>Typ</th>
					<th>Geschwindigkeit</th>
					<th>Anteil Gesang</th>
					<th>Anteil Rap</th>
					<th>Bekanntheit</th>
					<th>Anteil Weird</th>
					<th>Tags</th>
					<th>Ordner</th>
					<th>Serie</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for song in job.songs %}
				<tr class="no-wrap">
					<td>{{ song.title }}</td>

					<td>
						{% for artist in song.artists %} {{ artist.name }}{% if not
						loop.last %}, {% endif %} {% endfor %}
					</td>

					<td>{{ song.release_year }}</td>

					<td>
						{% for language in song.languages %} {{ language.name }}{% if not
						loop.last %}, {% endif %} {% endfor %}
					</td>

					<td>
						{% if song.duration is none %} - {% else %} {{ song.duration // 60
						}}:{{ song.duration % 60 }} {% endif %}
					</td>

					<td>
						{% for genre in song.genres %} {{ genre.name }}{% if not loop.last
						%}, {% endif %} {% endfor %}
					</td>

					<td>
						{% for feel in song.feels %} {{ feel.name }}{% if not loop.last %},
						{% endif %} {% endfor %}
					</td>

					<td>
						{% if song.SongType is none %} - {% else %} {{ song.SongType.name }}
						{% endif %}
					</td>

					<td>
						{% for speed in song.speeds %} {{ speed.name }}{% if not loop.last
						%}, {% endif %} {% endfor %}
					</td>

					<td>
						{% set voice_percent = song.voice_percent|float if
						song.voice_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if voice_percent < 35 %}is-danger {% elif voice_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ voice_percent }}"
							max="100"
						>
							{{ voice_percent }}%
						</progress>
					</td>
					<td>
						{% set rap_percent = song.rap_percent|float if song.rap_percent not
						in [None, ''] else 0 %}
						<progress
							class="progress {% if rap_percent < 35 %}is-danger {% elif rap_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ rap_percent }}"
							max="100"
						>
							{{ rap_percent }}%
						</progress>
					</td>
					<td>
						{% set popularity_percent = song.popularity_percent|float if
						song.popularity_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity_percent < 35 %}is-danger {% elif popularity_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity_percent }}"
							max="100"
						>
							{{ popularity_percent }}%
						</progress>
					</td>
					<td>
						{% set weird_percent = song.weird_percent|float if
						song.weird_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if weird_percent < 35 %}is-danger {% elif weird_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ weird_percent }}"
							max="100"
						>
							{{ weird_percent }}%
						</progress>
					</td>
					<td>
						{% for tag in song.tags %} {% if tag.name == 'Legend' %}
						<span class="tag is-warning">
							<i class="material-symbols-outlined">hotel_class</i>
							<p>Legende</p>
						</span>
						{% elif tag.name == 'Explicit' %}
						<span class="tag is-danger">
							<i class="material-symbols-outlined">explicit</i>
							<p>Explizit</p>
						</span>
						{% else %}
						<span class="tag is-info">
							<i class="material-symbols-outlined">label</i>
							<p>{{ tag.name }}</p>
						</span>
						{% endif %} {% endfor %}
					</td>
					<td>
						{% for folder in song.folders %} {{ folder.name }}{% if not
						loop.last %}, {% endif %} {% endfor %}
					</td>

					<td>
						{% for serie in song.series %} {{ serie.name }}{% if not loop.last
						%}, {% endif %} {% endfor %}
					</td>

					<td>
						<a
							class="button is-small is-info"
							href="{{ url_for('jobs.job_song_details', job_id=job.id, song_id=song.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">edit</i>
							</span>
						</a>
					</td>
					<td>
						<button
							class="button is-small is-danger load-on-click"
							type="button"
							onclick="deleteSong('{{ job.id }}', '{{ song.id }}')"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	// Lösche Song (AJAX Workaround für DELETE Request)
	function deleteSong(job_id, song_id) {
		fetch('/job/' + job_id + '/song/' + song_id, {
			method: 'DELETE',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				}
			})
	}

	// Lade Animation bei Klick auf Button
	const loadOnClick = document.querySelectorAll('.load-on-click')
	loadOnClick.forEach((element) => {
		element.addEventListener('click', () => {
			element.classList.add('is-loading')
		})
	})
</script>

{% endblock %}
