<!-- templates/login.html -->

{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title has-text-centered">Anmelden</h3>
	<div class="box">
		<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
		{% with messages = get_flashed_messages() %} {% if messages %}
		<div class="notification is-danger">
			<button class="delete"></button>
			<p>{{ messages[0] }}</p>
		</div>
		{% endif %} {% endwith %}

		<form method="POST" action="/login">
			<p class="has-text-centered">
				Du hast noch kein Konto?<br />Klicke
				<a class="has-text-link" href="{{url_for('auth.signup')}}">hier</a>
				um dich zu registrieren.
			</p>

			<div class="field">
				<label class="label has-text-left" for="email">E-Mail</label>
				<div class="control">
					<input
						class="input"
						type="email"
						name="email"
						placeholder="heinrich@gueterstein.de"
						autofocus=""
						autocomplete="email"
					/>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<label class="label has-text-left" for="password">Passwort</label>
					<input
						class="input"
						type="password"
						name="password"
						placeholder="********"
						autocomplete="current-password"
					/>
				</div>
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" />
					Angemeldet bleiben
				</label>
			</div>
			<button class="button is-info is-fullwidth">Anmelden</button>
		</form>
	</div>
</div>
{% endblock %}
