<!-- templates/playlist.html -->
{% extends "base.html" %} {% block content %}

<h1 class="title">Playlist: {{ playlist.name }}</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}

	<div class="table-container">
		{% if playlist.songs.count() == 0 %}
		<p class="has-text-centered is-size-4">Keine Songs vorhanden</p>
		<div class="level">
			<img
				src="https://media.giphy.com/media/jou4Cd2mx1lGU/giphy.gif"
				alt="Trauriger Mann"
				class="level-item"
			/>
		</div>

		{% else %}

		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr class="no-wrap">
					<th>Titel</th>
					<th>Interpret</th>
					<th>Veröffentlichung</th>
					<th>Sprache</th>
					<th>Länge</th>
					<th>Genre</th>
					<th>Stimmung</th>
					<th>Typ</th>
					<th>Geschwindigkeit</th>
					<th>Anteil Gesang</th>
					<th>Anteil Rap</th>
					<th>Bekanntheit</th>
					<th>Anteil Weird</th>
					<th>Legende</th>
					<th>Ordner</th>
					<th>Serie</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for song in playlist.songs %}
				<tr>
					<td>
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if song.Album is not none and song.Album.tidal_cover_url is
								not none %}
								<figure class="image is-32x32">
									<img
										class="is-rounded"
										src="https://resources.tidal.com/images/{{ song.Album.tidal_cover_url.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ song.title }}"
									/>
								</figure>
								{% endif %}
							</div>
							<div class="column">
								<p>{{ song.title }}</p>
							</div>
						</div>
					</td>

					<td>
						{% for artist in song.artists %}
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if artist.tidal_cover_url is not none %}
								<figure class="image is-32x32">
									<img
										class="is-rounded"
										src="https://resources.tidal.com/images/{{ artist.tidal_cover_url.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ artist.name }}"
									/>
								</figure>
								{% endif %}
							</div>
							<div class="column" style="white-space: nowrap">
								<p>{{ artist.name }}</p>
							</div>
							<div class="column">
								<span class="tag is-info"
									>{{ artist.get_role_for_song(song).name }}</span
								>
							</div>
						</div>
						{% endfor %}
					</td>

					<td>
						{% if song.release_year is not none %} {{ song.release_year
						}} {% endif %}
					</td>

					<td>
						{% for language in song.languages %} {% if language.name == 'non' %}
						ohne {% else %} {{ language.name }} {% endif %} {% endfor %}
					</td>

					<td>{{ song.duration }}</td>

					<td>
						{% for genre in song.genres %}
						<span class="tag is-info">{{ genre.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% for feel in song.feels %}
						<span class="tag is-info">{{ feel.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% if song.SongType is not none %} {{ song.SongType.name }}
						{% endif %}
					</td>

					<td>
						{% for speed in song.speeds %}
						<span class="tag is-info">{{ speed.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% set voice_percent = song.voice_percent|float if
						song.voice_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if voice_percent < 35 %}is-danger {% elif voice_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ voice_percent }}"
							max="100"
						>
							{{ voice_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set rap_percent = song.rap_percent|float if song.rap_percent not
						in [None, ''] else 0 %}
						<progress
							class="progress {% if rap_percent < 35 %}is-danger {% elif rap_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ rap_percent }}"
							max="100"
						>
							{{ rap_percent }}%
						</progress>
					</td>
					<td>
						{% set popularity_percent = song.popularity_percent|float if
						song.popularity_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity_percent < 35 %}is-danger {% elif popularity_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity_percent }}"
							max="100"
						>
							{{ popularity_percent }}%
						</progress>
					</td>

					<td>
						{% set weird_percent = song.weird_percent|float if
						song.weird_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if weird_percent < 35 %}is-danger {% elif weird_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ weird_percent }}"
							max="100"
						>
							{{ weird_percent }}%
						</progress>
					</td>
					<td>
						{% for tag in song.tags %} {% if tag.name == 'Legend' %}
						<span class="tag is-warning">Legende</span> {% endif %} {% endfor %}
					</td>

					<td>
						{% for folder in song.folders %}
						<span class="tag is-info">{{ folder.name }}</span>
						{% endfor %}
					</td>

					<td>
						{% for serie in song.series %}
						<span class="tag is-info">{{ serie.name }}</span>
						{% endfor %}
					</td>

					<td>
						<a
							class="button is-small is-info"
							href="{{ url_for('playlists.playlist_edit', playlist_id=playlist.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">edit</i>
							</span>
						</a>
					</td>
					<td>
						<a
							class="button is-small is-danger"
							href="{{ url_for('playlists.playlist_delete', playlist_id=playlist.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}
	</div>
</div>

{% endblock %}
