<!-- templates/playlist.html -->
{% extends "base.html" %} {% block content %}

<h1 class="title">
	{% block title %} Playlist: {{ playlist.name }} {% endblock %}
</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}

	<div class="table-container">
		{% if songs.total == 0 %}
		<p class="has-text-centered is-size-4">Keine Songs vorhanden</p>
		<div class="level">
			<img src="https://media.giphy.com/media/jou4Cd2mx1lGU/giphy.gif" alt="Trauriger Mann" class="level-item" />
		</div>

		{% else %}

		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr class="no-wrap">
					<th>
						<div class="checkbox-wrapper-13">
							<input id="checkbox-all" type="checkbox" />
						</div>
					</th>
					<th>Titel</th>
					<th>Interpret</th>
					<th>Jahr</th>
					<th>Sprache</th>
					<th>Länge</th>
					<th>Genre</th>
					<th>Stimmung</th>
					<th>Typ</th>
					<th>Geschwindigkeit</th>
					<th>Anteil Gesang</th>
					<th>Anteil Rap</th>
					<th>Bekanntheit</th>
					<th>Anteil Weird</th>
					<th>Legende</th>
					<th>Ordner</th>
					<th>Serie</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for song in songs.items %}
				<tr>
					<td>
						<div class="checkbox-wrapper-13">
							<input id="checkbox-{{ song.id }}" type="checkbox" />
						</div>
					</td>
					<td>
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if song.Album is not none and song.Album.tidal_cover_url is
								not none %}
								<figure class="image is-32x32">
									<img class="is-rounded"
										src="https://resources.tidal.com/images/{{ song.Album.tidal_cover_url.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ song.title }}" loading="lazy" />
								</figure>
								{% endif %}
							</div>
							<div class="column">
								<p>{{ song.title }}</p>
							</div>
						</div>
					</td>

					<td>
						{% for artist in song.artists %}
						<div class="columns is-vcentered">
							<div class="column is-narrow">
								{% if artist.tidal_cover_url is not none %}
								<figure class="image is-32x32">
									<img class="is-rounded"
										src="https://resources.tidal.com/images/{{ artist.tidal_cover_url.replace('-','/') }}/160x160.jpg"
										alt="Bild von {{ artist.name }}" loading="lazy" />
								</figure>
								{% endif %}
							</div>
							<div class="column no-wrap">
								<p>{{ artist.name }}</p>
							</div>
							<div class="column">
								<span class="tag is-info">{{ artist.get_role_for_song(song).name }}</span>
							</div>
						</div>
						{% endfor %}
					</td>

					<td>
						{% if song.release_year is not none %} {{ song.release_year }} {%
						endif %}
					</td>

					<td>
						{% for language in song.languages %} {% if language.name == 'non' %}
						ohne {% else %} {{ language.name }} {% endif %} {% endfor %}
					</td>

					<td>
						{% if song.duration is none %} - {% else %} {{ song.duration // 60
						}}:{% if song.duration % 60 < 10 %}0{% endif %}{{ song.duration % 60 }} {% endif %} </td>

					<td>
						{% for genre in song.genres %}
						<div class="tags has-addons no-wrap">
							<span class="tag is-info">{{ genre.name }}</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'genre', '{{ genre.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endfor %}
					</td>

					<td>
						{% for feel in song.feels %}

						<div class="tags has-addons no-wrap">
							<span class="tag is-info">{{ feel.name }}</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'feel', '{{ feel.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endfor %}
					</td>

					<td>
						{% if song.SongType is not none %} {{ song.SongType.name }} {% endif
						%}
					</td>

					<td>
						{% for speed in song.speeds %}
						<div class="tags has-addons no-wrap">
							<span class="tag is-info">{{ speed.name }}</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'speed', '{{ speed.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endfor %}
					</td>

					<td>
						{% set voice_percent = song.voice_percent|float if
						song.voice_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if voice_percent < 35 %}is-danger {% elif voice_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ voice_percent }}" max="100">
							{{ voice_percent * 100 }}%
						</progress>
					</td>
					<td>
						{% set rap_percent = song.rap_percent|float if song.rap_percent not
						in [None, ''] else 0 %}
						<progress
							class="progress {% if rap_percent < 35 %}is-danger {% elif rap_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ rap_percent }}" max="100">
							{{ rap_percent }}%
						</progress>
					</td>
					<td>
						{% set popularity_percent = song.popularity_percent|float if
						song.popularity_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if popularity_percent < 35 %}is-danger {% elif popularity_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ popularity_percent }}" max="100">
							{{ popularity_percent }}%
						</progress>
					</td>

					<td>
						{% set weird_percent = song.weird_percent|float if
						song.weird_percent not in [None, ''] else 0 %}
						<progress
							class="progress {% if weird_percent < 35 %}is-danger {% elif weird_percent < 65 %}is-warning {% else %}is-success{% endif %}"
							value="{{ weird_percent }}" max="100">
							{{ weird_percent }}%
						</progress>
					</td>
					<td>
						{% for tag in song.tags %} {% if tag.name == 'Legend' %}
						<div class="tags has-addons no-wrap">
							<span class="tag is-warning">Legend</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'tag', '{{ tag.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endif %} {% endfor %}
					</td>

					<td>
						{% for folder in song.folders %}
						<div class="tags has-addons no-wrap">
							<span class="tag is-info">{{ folder.name }}</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'folder', '{{ folder.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endfor %}
					</td>

					<td>
						{% for serie in song.series %}
						<div class="tags has-addons no-wrap">
							<span class="tag is-info">{{ serie.name }}</span>
							<!--- Workaround für das Löschen eines Tags, Buttons werden mit Rand dargestellt --->
							<span class="tag is-delete" onclick="deleteTag('{{ song.id }}', 'serie', '{{ serie.id }}')"
								onmouseover="this.style.cursor='pointer'"></span>
						</div>
						{% endfor %}
					</td>
					<td>
						<button class="button is-small is-info" type="button" onclick="refreshSong('{{ song.id }}')"
							data-tooltip="Aktualisiere Song über TIDAL">
							<span class="icon is-small">
								<i class="material-symbols-outlined">refresh</i>
							</span>
						</button>
					</td>
					<td>
						<a class="button is-small is-danger" type="button"
							onclick="deleteSong('{{ playlist.id }}', '{{ song.id }}')" data-tooltip="Lösche Song aus Playlist">
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>

	<nav class="pagination" role="navigation" aria-label="pagination">
		<ul class="pagination-list">
			<li>
				<a class="pagination-link {% if songs.page == 1 %}is-current{% endif %}" aria-label="Goto page 1"
					href="{{ url_for('playlists.playlist_details', playlist_id=playlist.id, page=1) }}">1</a>
			</li>
			{% if songs.page > 2 %}
			<li>
				<span class="pagination-ellipsis">&hellip;</span>
			</li>
			{% endif %} {% for page_num in songs.iter_pages(left_edge=1,
			left_current=1, right_current=1, right_edge=1) %} {% if page_num is not
			none and page_num > 1 and page_num < songs.pages %} <li>
				<a class="pagination-link {% if page_num == songs.page %}is-current{% endif %}"
					aria-label="Goto page {{ page_num }}" {% if page_num !="songs.page"
					%}href="{{ url_for('playlists.playlist_details', playlist_id=playlist.id, page=page_num) }}" {% endif %}>{{
					page_num }}</a>
				</li>
				{% endif %} {% endfor %} {% if songs.page < songs.pages - 1 %} <li>
					<span class="pagination-ellipsis">&hellip;</span>
					</li>
					{% endif %} {% if songs.pages > 1 %}
					<li>
						<a class="pagination-link {% if songs.page == songs.pages %}is-current{% endif %}"
							aria-label="Goto page {{ songs.pages }}"
							href="{{ url_for('playlists.playlist_details', playlist_id=playlist.id, page=songs.pages) }}">{{
							songs.pages }}</a>
					</li>
					{% endif %}
		</ul>
	</nav>
</div>

<script>
	// Aktualisiert den Song
	function refreshSong(song_id) {
		fetch('/songs/' + song_id + '/refresh', {
			method: 'PATCH',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				}
			})
	}

	// Lösche ein Tag (AJAX Workaround für DELETE Request)
	function deleteTag(song_id, tag_type, tag_id) {
		fetch(
			'/songs/' +
			song_id +
			'/tags' +
			'?tag_type=' +
			tag_type +
			'&tag_id=' +
			tag_id,
			{
				method: 'DELETE',
			},
		)
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				}
			})
	}

	// Lösche Song aus Playlist (AJAX Workaround für DELETE Request)
	function deleteSong(playlist_id, song_id) {
		fetch('/playlists/' + playlist_id + '/songs/' + song_id, {
			method: 'DELETE',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				} else {
					alert(data.error)
				}
			})
	}
</script>

{% endblock %}