<!-- templates/playlists.html -->
{% extends "base.html" %} {% block content %}
<h1 class="title">Playlists</h1>
<div class="box">
	<!--- Hier wird die Fehlermeldung angezeigt, sofern vorhanden --->
	{% with messages = get_flashed_messages() %} {% if messages %}
	<div class="notification is-danger">
		<button class="delete"></button>
		<p>{{ messages[0] }}</p>
	</div>
	{% endif %} {% endwith %}
	<div class="table-container">
		<table class="table is-fullwidth is-narrow is-hoverable">
			<thead>
				<tr class="no-wrap">
					<th>Playlist</th>
					<th>Erstellt am</th>
					<th>Erstellt von</th>
					<th>Aktualisiert am</th>
					<th>Aktualisiert von</th>
					<th>Typ</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for playlist in playlists %}
				<tr>
					<td>{{ playlist.name }}</td>
					<td>{{ playlist.created_at }}</td>
					<td>{{ playlist.created_by }}</td>
					<td>{{ playlist.updated_at }}</td>
					<td>{{ playlist.updated_by }}</td>
					{% if playlist.manual == true %}
					<td>
						<span class="tag is-warning">Manuell</span>
					</td>
					{% else %}
					<td>
						<span class="tag is-success">Automatisch</span>
					</td>
					{% endif %}
					<td>
						<a
							class="button is-small is-primary"
							type="button"
							onclick="exportPlaylistToTIDAL('{{ playlist.id }}')"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">cloud_download</i>
							</span>
						</a>
					</td>
					<td>
						<button
							class="button is-small is-info"
							type="button"
							onclick="refreshPlaylist('{{ playlist.id }}')"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">refresh</i>
							</span>
						</button>
					</td>
					<td>
						<a
							class="button is-small is-warning load-on-click"
							href="{{ url_for('playlists.playlist_details', playlist_id=playlist.id) }}"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">edit</i>
							</span>
						</a>
					</td>
					<td>
						<button
							class="button is-small is-danger load-on-click"
							type="button"
							onclick="deletePlaylist('{{ playlist.id }}')"
						>
							<span class="icon is-small">
								<i class="material-symbols-outlined">delete</i>
							</span>
						</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>
	// Exportiere Playlist zu TIDAL (AJAX Workaround für POST Request)
	function exportPlaylistToTIDAL(playlist_id) {
		fetch('/playlists/' + playlist_id + '/export', {
			method: 'POST',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.href = data.url
				}
			})
	}

	// Aktualisiert die Playlist (AJAX Workaround für PATCH Request)
	function refreshPlaylist(playlist_id) {
		fetch('/playlists/' + playlist_id + '/refresh', {
			method: 'PATCH',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				}
			})
	}

	// Lösche Playlist (AJAX Workaround für DELETE Request)
	function deletePlaylist(playlist_id) {
		fetch('/playlists/' + playlist_id, {
			method: 'DELETE',
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data)
				if (data.success) {
					window.location.reload()
				}
			})
	}

	// Lade Animation bei Klick auf Button
	const loadOnClick = document.querySelectorAll('.load-on-click')
	loadOnClick.forEach((element) => {
		element.addEventListener('click', () => {
			element.classList.add('is-loading')
		})
	})
</script>
{% endblock %}
